@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-one: #ffffff;
  --color-two: #0d324d;
  --color-three: #7f5a83;
  --color-four: red;
  --large-spacing: 30px;
  --small-spacing: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
label {
  color: var(--color-one);
}

h1 {
  text-align: center;
  padding-bottom: var(--large-spacing);
}

small {
  color: var(--color-four);
}

button {
  font-size: medium;
  line-height: 2;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  line-height: 2;
  padding-left: var(--small-spacing);
}

i {
  color: var(--color-two);
}

/***********/
/*** App ***/
/***********/

.App {
  background-image: linear-gradient(var(--color-two), var(--color-three));
  color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********/
/** Login **/
/***********/

.login {
  width: 80%;
  max-width: 400px;
}

.login input {
  outline: none;
}

.input-container {
  position: relative;
  padding-bottom: var(--small-spacing);
}

.input-container > i {
  position: absolute;
  top: 8px;
  left: 10px;
}

.input-container > input {
  padding-left: var(--large-spacing);
}

.validation-error {
  border-color: red;
}

.submission-error {
  text-align: center;
}

.Login button {
  margin-top: var(--small-spacing);
}

/***********/
/** List  **/
/***********/
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 400px;
}

.search-container {
  display: flex;
}

.search-container > button,
.add > button {
  margin-left: var(--small-spacing);
  width: 30%;
}

.add {
  flex-direction: row;
  margin-bottom: var(--small-spacing);
}

.todo-container {
  display: flex;
  background-color: var(--color-one);
  margin-bottom: var(--small-spacing);
  line-height: 3;
  padding-left: var(--small-spacing);
}

.icons {
  align-self: flex-end;
}
.icons i {
  padding: 5px;
}

.todo {
  width: 85%;
}
